<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="intelligence dashboard node.js, express, mongoose, mongodb, angularjs, swig">
    <meta name="description" content="Intelligence Dashboard">

    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="Intelligence Dashboard">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="Intelligence Dashboard">
    <meta property="fb:admins" content="APP_ADMIN">

    <!-- <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-responsive.css"> -->
    <link rel="stylesheet" href="/css/common.css">

    <!--<link rel="stylesheet" href="/css/views/projects.css">-->

    <link rel="stylesheet" href="http://bootswatch.com/united/bootstrap.css" media="screen">
    <link rel="stylesheet" href="http://bootswatch.com/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://bootswatch.com/assets/js/bootswatch.js">

    <script src="http://bootswatch.com/assets/js/bsa.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://bootswatch.com/assets/js/bootswatch.js"></script>

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>


