<div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <a class="brand" href="/">Intelligence Dashboard</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}"
        ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li>
                        <a tabindex="-1" href="../default/">Default</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a tabindex="-1" href="../amelia/">Amelia</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../cerulean/">Cerulean</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../cosmo/">Cosmo</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../cyborg/">Cyborg</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../flatly/">Flatly</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../journal/">Journal</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../readable/">Readable</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../simplex/">Simplex</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../slate/">Slate</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../spacelab/">Spacelab</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../united/">United</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="../yeti/">Yeti</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="../help/">Help</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Download <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="download">
                    <li>
                        <a tabindex="-1" href="./bootstrap.min.css">bootstrap.min.css</a>
                    </li>
                    <li>
                        <a tabindex="-1" href="./bootstrap.css">bootstrap.css</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav pull-right" data-ng-hide="global.authenticated">
            <li>
                <a href="signup">Signup</a>
            </li>
            <li class="divider-vertical"></li>
            <li>
                <a href="signin">Signin</a>
            </li>
        </ul>
        <ul class="nav pull-right" data-ng-show="global.authenticated">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    			{{global.user.name}} <b class="caret"></b>
    		</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/signout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
