<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
                                    <span class="drag label">
                                        <i class="icon-move"></i>Drag</span>
                                    <span class="configuration">
                                        <button type="button" class="btn btn-mini" data-target="#editorModal"
                                                role="button" data-toggle="modal">Editor</button>
                                    </span>
    <div class="preview">Bread Navigation</div>
    <div class="view">
        <ul class="breadcrumb" contenteditable="true">
            <li>
                <a href="#">Home</a>
                <span class="divider">/</span>
            </li>
            <li>
                <a href="#">Category</a>
                <span class="divider">/</span>
            </li>
            <li class="active">Theme</li>
        </ul>
    </div>
</div>