<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
                                    <span class="drag label">
                                        <i class="icon-move"></i>Drag</span>
                                    <span class="configuration">
                                        <button type="button" class="btn btn-mini" data-target="#editorModal"
                                                role="button" data-toggle="modal">Editor</button>
                                        <a class="btn btn-mini" href="#" rel="form-inline">Embed</a>
                                    </span>
    <div class="preview">Search Box</div>
    <div class="view">
        <form class="form-search">
            <input class="input-medium search-query" type="text">
            <button type="submit" class="btn" contenteditable="true">Find</button>
        </form>
    </div>
</div>