<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
                                    <span class="drag label">
                                        <i class="icon-move"></i>Drag</span>
                                    <span class="configuration">
                                        <button type="button" class="btn btn-mini" data-target="#editorModal"
                                                role="button" data-toggle="modal">Editor</button>
                                        <a class="btn btn-mini" href="#" rel="unstyled">No Style</a>
                                        <a class="btn btn-mini" href="#" rel="inline">Embed</a>
                                    </span>
    <div class="preview">Unordered list</div>
    <div class="view">
        <ul contenteditable="true">
            <li>News</ li>
            <li>sports competition</ li>
            <li>entertainment gossip</ li>
            <li>edge technology</ li>
            <li>Global Finance</ li>
            <li>Weather Forecast</ li>
            <li>real estate home</ li>
            <li>online games</ li>
        </ul>
    </div>
</div>