<section data-ng-controller="PageController" data-ng-init="init()">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
        <div class="form-group">
            <label for="inputName" class="control-label">Name</label>

            <div class="controls">
                <input type="text" data-ng-model="name" class="form-control" id="inputName"
                       placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputViewName" class="control-label">View Name</label>

            <div class="controls">
                <input type="text" data-ng-model="view_name" class="form-control"
                       id="inputViewName" placeholder="View Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDesc" class="control-label">Description</label>

            <div class="controls">
                <input type="text" data-ng-model="description" class="form-control"
                       id="inputDesc" placeholder="Description">
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</section>