<section data-ng-controller="PageController">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="saveOrUpdate()">
        <div class="form-group">
            <label for="inputName" class="control-label">Name</label>
            <div class="controls">
                <input type="text" data-ng-model="page.name" class="form-control" id="inputName"
                placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputViewName" class="control-label">View Name</label>
            <div class="controls">
                <input type="text" data-ng-model="page.view_name" class="form-control"
                id="inputViewName" placeholder="View Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDesc" class="control-label">Description</label>
            <div class="controls">
                <input type="text" data-ng-model="page.description" class="form-control"
                id="inputDesc" placeholder="Description">
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="control-label">Upper Page</label>
            <div class="controls">
                <select class="form-control" data-ng-model="upperPage" data-ng-options="page.name for page in pages"
                id="select"></select>
            </div>
        </div>
        <div class="form-group" data-ng-show="global.user._id == project.owner._id">
            <a class="btn btn-danger" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <div class="form-group">
            <div class="controls">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</section>