<section data-ng-controller="PageController" data-ng-init="find()">
	<ul class="pages unstyled">
		<li data-ng-repeat="page in pages">
			<span>{{page.created | date:'medium'}}</span> /
			<span>{{page.owner.name}}</span>
			<h2 data-ng-show="!viewMode"><a data-ng-href="#!/projects/{{$routeParams.projectId}}/pages/{{page._id}}">{{page.name}}</a></h2>
            <h2 data-ng-show="viewMode">{{page.name}}</h2>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="{{page.use_yn}}" disabled>Use Flag
                </label>
            </div>
		</li>
	</ul>
	<h1 data-ng-show="!viewMode && (!pages || pages.length == 0)">No pages yet. <br> Why don't you <a href="/#!/projects/{{$routeParams.projectId}}/pages/create">Create One</a>?</h1>
	<h1 data-ng-show="!viewMode && (pages && pages.length > 0)">You can create page. <br> Would you <a href="/#!/projects/{{$routeParams.projectId}}/pages/create">Create One another</a>?</h1>
</section>