<section data-ng-controller="PageController" data-ng-init="findOne()">
    <span>{{page.created | date:'medium'}}</span>/
    <span>{{page.owner.name}}</span>
    <h2>{{page.name}}</h2>
    <div>{{page.view_name}}</div>
    <div>{{page.description}}</div>
    <div data-ng-show="global.user._id == page.owner._id">
        <a class="btn btn-default" href="/#!/projects/{{$routeParams.projectId}}/pages/{{page._id}}/design" data-ng-click="initDesign()">
            <i class="icon-picture icon-white"></i>
        </a>
        <a class="btn btn-default" href="/#!/projects/{{$routeParams.projectId}}/pages/{{page._id}}/edit">
        	<i class="icon-edit icon-white"></i>
        </a> 
        <a class="btn btn-danger" data-ng-click="remove();">
            <i class="icon-trash icon-white"></i>
        </a>
    </div>
</section>
