<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
                                    <span class="drag label">
                                        <i class="icon-move"></i>Drag</span>
                                    <span class="configuration">
                                        <button type="button" class="btn btn-mini" data-target="#editorModal"
                                                role="button" data-toggle="modal">Editor</button>
                                        <a class="btn btn-mini" href="#" rel="dl-horizontal">VerticalAlignment</a>
                                    </span>
    <div class="preview">Detailed description</div>
    <div class="view">
        <dl contenteditable="true">
            <dt>Rolex</dt>
            <dd>blah blah blah blah blah blah 。</dd>
            <dt>Vacheron Constantin</dt>
            <dd>blah blah blah blah blah blah </dd>
            <dd>blah blah blah blah blah blah 。</dd>
            <dt>IWC</dt>
            <dd>blah blah blah blah blah blah 。</dd>
            <dt>Cartier</dt>
            <dd>blah blah blah blah blah blah 。</dd>
        </dl>
    </div>
</div>