<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
                                    <span class="drag label">
                                        <i class="icon-move"></i>Drag</span>
                                    <span class="configuration">
                                        <button type="button" class="btn btn-mini" data-target="#editorModal"
                                                role="button" data-toggle="modal">Editor</button>
                                        <a class="btn btn-mini" href="#" rel="dropup">Pull-up</a>
                                    </span>
    <div class="preview">Drop-down menu</div>
    <div class="view">
        <div class="btn-group">
            <button class="btn" contenteditable="true">Action</button>
            <button data-toggle="dropdown" class="btn dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" contenteditable="true">
                <li>
                    <a href="#">Operating</a>
                </li>
                <li>
                    <a href="#">Set Column</a>
                </li>
                <li>
                    <a href="#">More Settings</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">More Options</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Operating</a>
                        </li>
                        <li>
                            <a href="#">Set Column</a>
                        </li>
                        <li>
                            <a href="#">More Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>