<div>
    <button type="button" class="btn btn-success icon-plus-sign"></button>
    <input id="spinner" name="value">
    <div class="lyrow ui-draggable">
        <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
        <span class="drag label">
            <i class="icon-move"></i>Drag</span>
        <div class="preview">
            <input ng-model="col-text" type="text">
        </div>
        <div class="view">
            <div class="row-fluid clearfix">
                <div class="column" ng-class="col-style"></div>
            </div>
        </div>
    </div>
</div>