<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
                                    <span class="drag label">
                                        <i class="icon-move"></i>Drag</span>
                                    <span class="configuration">
                                        <button type="button" class="btn btn-mini" data-target="#editorModal"
                                                role="button" data-toggle="modal">Editor</button>
                                        <span class="btn-group">
                                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Alignment <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li class="active">
                                                    <a href="#" rel="">Default</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="text-left">Left</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="text-center">Center</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="text-right">Right</a>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="btn-group">
                                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Mark <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li class="active">
                                                    <a href="#" rel="">Default</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="muted">Disable</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="text-warning">Warning</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="text-error">Error</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="text-info">Prompt</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="text-success">Success</a>
                                                </li>
                                            </ul>
                                        </span>
                                        <a class="btn btn-mini" href="#" rel="lead">Lead</a>
                                    </span>
    <div class="preview">Paragraph</div>
    <div class="view" contenteditable="true">
        <p>
            <em>Git</em>Is a distributed version control system, originally developed
            by
            <b>Linus Torvalds</b>Preparation, used to manage Linux kernel code. After
            the launch, Git in other projects also made great Success, especially in
            the Ruby community。</p>
    </div>
</div>