<section data-ng-controller="ProjectController" data-ng-init="findOne()">
    <span>{{project.created | date:'medium'}}</span>/
    <span>{{project.owner.name}}</span>
    <h2>{{project.name}}</h2>
    <div data-ng-show="global.user._id == project.owner._id">
        <a class="btn btn-default" href="/#!/projects/{{project._id}}/edit">
        	<i class="icon-edit icon-white"></i>
        </a> 
        <a class="btn btn-danger" data-ng-click="remove();">
            <i class="icon-trash icon-white"></i>
        </a>
    </div>
    <div>{{project.description}}</div>
</section>
