<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
                                    <span class="drag label">
                                        <i class="icon-move"></i>Drag</span>
    <span class="configuration"></span>
                                    <span class="configuration">
                                        <button type="button" class="btn btn-mini" data-target="#editorModal"
                                                role="button" data-toggle="modal">Editor</button>
                                    </span>
    <div class="preview">Vertical form</div>
    <div class="view">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputEmail" contenteditable="true">Mailbox</label>
                <div class="controls">
                    <input id="inputEmail" placeholder="Email" type="text">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword" contenteditable="true">Password</label>
                <div class="controls">
                    <input id="inputPassword" placeholder="Password" type="password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" contenteditable="true">
                        <input type="checkbox">Remember me</label>
                    <button type="submit" class="btn" contenteditable="true">Landed</button>
                </div>
            </div>
        </form>
    </div>
</div>