<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
                                    <span class="drag label">
                                        <i class="icon-move"></i>Drag</span>
                                    <span class="configuration">
                                        <button type="button" class="btn btn-mini" data-target="#editorModal"
                                                role="button" data-toggle="modal">Editor</button>
                                        <span class="btn-group">
                                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Size <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li class="">
                                                    <a href="#" rel="pagination-large">Large</a>
                                                </li>
                                                <li class="active">
                                                    <a href="#" rel="">Middle</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="pagination-small">小</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="pagination-mini">Miniature</a>
                                                </li>
                                            </ul>
                                        </span>
                                        <span class="btn-group">
                                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Location <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li class="active">
                                                    <a href="#" rel="">Left</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="pagination-centered">Center</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="pagination-right">Right</a>
                                                </li>
                                            </ul>
                                        </span>
                                    </span>
    <div class="preview">Page</div>
    <div class="view">
        <div class="pagination">
            <ul contenteditable="true">
                <li>
                    <a href="#">Previous</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>