<div class="box box-element ui-draggable">
    <a href="#close" class="remove label label-important"><i class="icon-remove icon-white"></i>Delete</a>
                                    <span class="drag label">
                                        <i class="icon-move"></i>Drag</span>
                                    <span class="configuration">
                                        <span class="btn-group">
                                            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Style <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li class="active">
                                                    <a href="#" rel="">Default</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="img-rounded">Fillet</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="img-circle">Circle</a>
                                                </li>
                                                <li class="">
                                                    <a href="#" rel="img-polaroid">Frame</a>
                                                </li>
                                            </ul>
                                        </span>
                                    </span>
    <div class="preview">Picture</div>
    <div class="view">
        <img alt="140x140" src="img/a.jpg">
    </div>
</div>